@model HwApp1410931031.ViewModels.GuestbooksViewModel

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()

<div class="alert alert-info" role="alert">訪客有甚麼建議的話請在下方留言，會員也可以留言喔</div>

@* 載入新增留言頁面*@
<div id="CreateData">
    @Html.Action("Create")
</div>

@**載入資料陣列頁面*@
@Html.Action("GetDataList")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
