@model HwApp1410931031.ViewModels.GuestbooksViewModel

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()

@* 載入新增留言頁面*@
<div id="CreateData">
    @Html.Action("Create")
</div>

@**載入資料陣列頁面*@
@Html.Action("GetDataList")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
